body { 
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.background {
    background-color: rgb(35, 159, 190);
    padding-top: 1px;
    height: 100vh;
    min-height: auto;
}
/*This will show the heading of the game*/
.heading {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 1px;
}
/*Will show the player who will be playing next  */
.display {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
/*this will hid some of the js functions*/
.hide {
    display: none;
}
/*the grid will be the main borad of the game*/
.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 34% 34% 34%;
    grid-template-rows: 34% 34% 34%;
    max-width: 300px;
}
/*the boxes are where the O's and X's will be put into */
.box {
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
/*helps identify different players*/
.playerO {
    color: blue;
}

.playerX {
    color: blueviolet;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
/*this will just be the restart button*/
#reset {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 32px;
    cursor: pointer;
    margin-bottom: 10px;
}

