body { 
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.background {
    background-color: rgb(35, 159, 190);
    padding-top: 1px;
}

.title {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 1px;
}

.display {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 34% 34% 34%;
    grid-template-rows: 34% 34% 34%;
    max-width: 300px;
}

.tile {
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerO {
    color: blue;
}

.playerX {
    color: blueviolet;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 32px;
    cursor: pointer;
}
/* 
I was going to try do a win and lose counter but wasnt sure if i was going to make the code
.score-area{
border: none;
padding: 5px;
background-color: black;
margin-left: 20px;
border-radius: 10px;
color: white;
font-size: 16px;
} */